/* Headings */
h1 {
    color: #2296C7;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    color: green;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

/* Paragraphs */
p {
    font-weight: 800;
    text-decoration: none; /* removes the line-through */
    text-align: center;
}

/* Table styles for other pages */
table {
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    border: 1px solid #2695a6;
}

th {
    font-weight: 800;
    background-color: #2695a6;
    color: #ffffff;
}

tr.alt td {
    background-color: #9aeffc;
}

/* List styling */
ul {
    list-style: circle;
}

/* Make images and links block-level to space them out */
img, a {
    display: block;
    margin: 10px auto;
    text-align: center;
}
