/* Headings */
h1 {
    color: #2296C7;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    color: green;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

/* Paragraphs */
p {
    font-weight: 800;
    text-decoration: none; /* removes the line-through */
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    font-weight: 600;
    text-align: center;
}

/* Header style */
th {
    background-color: #4da6ff;  /* Soft blue */
    color: white;
}

/* Alternate row background for better readability */
tr:nth-child(even) {
    background-color: #f2f2f2;  /* Light gray */
}

tr:nth-child(odd) {
    background-color: #ffffff;  /* White */
}


